
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
#FeaturedParagraph{
    overflow: scroll; 
    height: 380px;
    font-style: italic;
}
#FeaturedSection{
    height: 480px; 
    width: 480px;
    display: inline-block;
    text-align: left;
}
footer{
    width: 100%;
    height: 100px;
    background-color: grey;
}
h5{
    font-weight: bold;
}
header{
    width: 100%;
    padding: 10px;
    background-color: grey;
}
img{
    padding: 15px;
}
li{
    display: inline-block;
    text-align: center;
    margin: 0 40px 0 40px;
    vertical-align: middle;
}